@CHARSET "UTF-8";
.p1 {
    max-width: 100%;
    height: auto;
    padding: 45px 0px 4px 0px;
}
.p2 {
	max-width:100%;
    height: auto;
    padding:14px;
    margin-top:310px;
}
.p3 {
	max-width: 100%;
    height: auto;
    padding:0px 15px;
 
}




